.first-color { 
	background: #e0ffcd; 
}
	
.second-color { 
	background: #fdffcd; 
}

.third-color { 
	background: #ffebbb; 
}

.fourth-color { 
	background: #ffcab0; 
}
h1{
    
		font-family:'Pacifico', cursive;
		color: #d46d59;
		text-align: center
};

